@import "../../global.scss";

.navBar {
    background-color: $navbarBlue;
    display: flex;
    img {
        max-width: 45px;
    };
    .appName {
        h1 {
            color: black;
        }
    }
    .buttonContainer {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: auto;
        margin-right: 0;
        .buttons {
            height: 100%;
            margin-right: 10px;
            border-color: black 10px solid;
        }
    }
}