@import "../../global.scss";

.loginpage {
    background-color: $backgroundBlue;
    height: 100vh;
    padding: 12% 15% 0 15%;

    #title {
        text-align: left;
        margin-right: 5%;
    }

    .loginPiecesContainer {
        // margin-right: 100px;
        margin:auto;
        // margin: 0 10% 0 10%;
        display: flex;

        .loginPieces {
            display: inline-block;
            width: 50%;
            height: 100%;
        }
    }

}
